################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pulsantoni2/obj
/pulsantoni2/bin/Debug

